* {
    margin: 0;
    padding: 0;
    text-decoration:none;   
}
body, html {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9; 
    text-decoration:none;
}

    h1{
        font-family:"young serif";
        font-size: 40px;
        color:black;
        margin-left: 80px;
        display: flex;
        margin-top: 80px;

    }
    h2{
        font-family:"Patrick hand";
        font-size: 20px;
        margin-left: 80px;
        color: black;
    }
    h3{
        font-family:"Patrick hand";
        font-size: 20px;
        margin-left: 80px;
        color: black;
    }
    .texto_emp {
        display: inline-block;
        
    }
   
    p { font-size: 20px;
        font-family: "Tajawal";
        margin-left: 80px;
        color: black;
        width: 800px;}

    
    
    .empreendedorismo {
        background-color: #d9d9d9;
        width: 100%;
        height: 500px;
    }



    .flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    header {
        background-color: #598B27;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
    }
    
    header img {
        margin-left: 20px;
        margin-right: 20px;
    }    
    header .botao-home:hover{
        cursor: pointer;
    }

    aside{
        width: 100%;
        height: 160px;
        background-color: #598B27;
        text-align: right;
        display: none;
    }
    a{
        text-decoration: none;
        color: black;
    }

    li{
        padding-right: 117px;
        font-family: "Patrick Hand";
        font-size: 20px;
    }
  
    #sus{
        background-color: #B5CAA1;
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
    }
    h4{
        font-size: 40px;
        font-family: "young serif";
        display: flex;
        justify-content: right;
        margin-right: 80px;
    }
    h5 {
        font-size: 20px;
        font-family: "Patrick hand";
        color: black;
        display: flex; 
        justify-content: right;
        margin-right: 80px;
    }
    
    h6 {
        font-size: 20px;
        font-family: "Patrick hand";
        display: flex;
        justify-content: right;
        margin-right: 80px;
        margin-top: 200px;
    }
    .p2{ font-size: 20px;
        font-family: "Tajawal";
        margin-left: 485px;
        width: 900px;
        height: 100px;
        
    }
    .plas{
        position: absolute;
        top: 1000px;
        left: 18.5%;
        transform: translate(-50%, -50%);
       }
    
    
    .botao_pagina2:hover{
        cursor: pointer;
    }
  .botao_pagina2{
    text-align: center;
    background-color: #B5CAA1;
    height: 40px;
    width: 600px;
    font-size: 20px;
    font-family: "Patrick Hand";
    border: 0;  

  }
  .botao_menu:hover{
    cursor:pointer;
  }

 .btn{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
 }

