    h7{
    font-size: 20px;
    font-family:"Young serif";
    display: flex;
    margin-top: 60px;
    margin-left: 80px;
  }
  h8{
    font-size: 20px;
    font-family: "Young serif";
    display: flex;
    justify-content: center;
  }
  h9{
    font-size: 20px;
    font-family: "Young serif";
   justify-content: right;
   display: flex;
   margin-right: 80px;
  }
  h10{
        font-size: 20px;
        font-family: "Young serif";
       justify-content: right;
       display: flex;
       margin-right: 80px;
  }
.container{
    column-width: 3;
}