*{
    margin:0;
    padding: 0;
}   
h1, h2, h3 {
font-size: 20px;
font-family: "young serif";
display: flex;
justify-content: center;
margin-right: 100px;
}
h4, h5, h6, h7{
    font-size: 15px;
    font-family: "Patrick Hand";
    margin-top: 10px;
}
    .botao-home:hover { cursor: pointer;}

    .botao_pagina3:hover
    {cursor: pointer;}

    .botao_pagina3{
    width: 600px;
    height: 40px;
    background-color: #C9A273;
    border: 0;
    border-radius: 10px;
   justify-content: center;
   margin-left: 450px;
   margin-top: 80px;
}  

    header {
    background-color: #598B27;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;}

header img {
        margin-left: 20px;
        margin-right: 20px;}

    .botao_menu:hover {
    cursor: pointer;}
    
    aside{
    width: 100%;
    height: 160px;
    background-color: #598B27;
    text-align: right;
    display: none;}
    a{
text-decoration: none;
color: black;
}

li{
padding-right: 117px;
font-family: "Patrick Hand";
font-size: 20px;
}
#colunastextopag3{
    width: 100%;
    column-gap: 100px;
    justify-content:center ;
    column-count:3;
    display: flex;
}
.coluna1_3 p{
    font-family: "Tajawal";
    font-size: 20px;
    margin-left: 20px;
    width: 300px;
    margin-top: 20px;
}
.coluna2_3{
    font-family: "Tajawal";
    font-size: 20px;
    width: 250px;
    margin-top: 20px;
}
.coluna3_3{
    font-family: "Tajawal";
    font-size: 16px; 
    margin-right: 80px;
    width: 400px;
    margin-top: 20px;
}